@{
    Layout = null;
}

<!-- Loader WebAppCore -->
<div id="loader_webappcore">
    <div class="loader_decad">
        <div class="loader_dialog">
            <div class="loader_container text-center">
                <div class="loader"></div>
                <h4 class="text-white">Cargando...</h4>
            </div>
        </div>
    </div>
    <div class="loader_back"></div>
</div>
<!--<![endif]-->
<!-- /loader WebCore -->

<script>
        $(function() {
            $('#loader_weappbcore').show().fadeOut('slow');
        });

</script>
