<aside class="main-sidebar sidebar-dark-primary elevation-4" style="overflow-x:hidden">

    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">WebApp - Tests</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <div class="os-resize-observer-host"><div class="os-resize-observer observed" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer observed"></div></div><div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 296px;"></div><div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                    <!-- Sidebar user (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="~/adminlte/dist/img/AdminLTELogo.png" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="/" class="d-block">Ivan Pimienta</a>
                        </div>
                    </div>
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">

                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <a href="/" class="nav-link">
                                    <i class="nav-icon fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-book-open"></i>
                                    <p>
                                        School Module
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Student" class="nav-link">
                                            <i class="nav-icon fas fa-users-cog"></i>
                                            <p>Students</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Course" class="nav-link">
                                            <i class="nav-icon fas fa-users-cog"></i>
                                            <p>Courses</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Address" class="nav-link">
                                            <i class="nav-icon fas fa-users-cog"></i>
                                            <p>Address</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-book-open"></i>
                                    <p>
                                        Library Module
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Author" class="nav-link">
                                            <i class="nav-icon fas fa-paper-plane"></i>
                                            <p>Authors</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Editorial" class="nav-link">
                                            <i class="nav-icon fas fa-paper-plane"></i>
                                            <p>Editorials</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Book" class="nav-link">
                                            <i class="nav-icon fas fa-paper-plane"></i>
                                            <p>Books</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
            </div>
        </div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 21.4131%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar-corner"></div>
    </div>
    <!-- /.sidebar -->
</aside>