@model WebAppTest.Core.Entities.Author
<div>
    <div class="row">
        <div class="col-md-12">
            <form id="authorForm">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="button" id="btnSubmit" onclick="webapptest.authors_manager.saveAuthorForm()" class="btn btn-block btn-info">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>